extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Nick Davies

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack Website Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | High-integrity, service-orientated digital media sales and account development veteran equipped with 10 years of experience in online affiliate marketing, digital marketing, eCommerce sales and optimization, display advertising setup and optimization, performance-based affiliate marketing, website, and mobile application monetization. Exceptionally skilled and experienced at building customer relationships, increasing retention, as well as growing and retaining new and existing customers. A solid, proven track record of success and passion for driving top and bottom-line revenue.
            |
          p
            Technical Skills: Online Advertising • Ad Serving • Digital Media • E-commerce • Media Buying • Online Advertising Demand and Supply Platforms • Monetization • SEO / SEM Marketing • Google Ads Certified • Google Analytics Certified • Social Media • Microsoft Office and Excel • Customer Relationship Management (CRM) SalesForce • Working knowledge of Javascript, HTML, CSS and WordPress
            |
          p
            Customer Service: Customer Success • Customer Support • Client Relationships • Relationship Building • Customer Experience Management • Account Growth • Revenue Growth • Retention • Upselling • Conflict Resolution and Problem Solving
            |
          p
            Communication and Organization Skills: Demonstrating Software • Interpersonal Communications • Solution Based Selling • Ability to Work Under Pressure • Persistence • Teamwork • Creativity • Resourcefulness



      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Node.js
          li AJAX
          li Express
          li Pug
          li GIT
        h6 Contact Info

        //- Add your own contact info
        ul
          li 321-948-5497
          li NickDavies100@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/nickdavies100/') LinkedIn
        a.button.expanded(href='https://github.com/p32nicky') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
