<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='https://scontent-lax3-1.xx.fbcdn.net/v/t31.0-8/p960x960/21246207_10211410581115038_2767556765536536649_o.jpg?_nc_cat=102&_nc_sid=13bebb&_nc_ohc=x6ToOnIwgMIAX9nj7EZ&_nc_ht=scontent-lax3-1.xx&_nc_tp=6&oh=0ec4818920be30576c1ee8ac70ac05e1&oe=5F6163F6')
          .cell.auto

            //- Add your name here.
            h5 Nick Davies

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              | A fresh face to full stack web development with a previous solid history of digital media monetization, publishing and marketing sales and account management. Check out below to learn more about me.


            //- Add about page route to the href below.
            a(href='about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Nick Davies
      block content



  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
